section{
    background-color:#000000;
   
}

.modebar-container{
    visibility: hidden;
}

.stPlotlyChart.js-plotly-plot{
    background-color: #242B31;
}

header{
    visibility: hidden;
}